// views/layout/header-app.pug

// Primer Nivel: Barra Superior (Com煤n para todos)
header(class="bg-indigo-600 p-4")
    div(class="container mx-auto flex justify-between items-center")
        a(href="/") 
            h1(class="text-2xl text-white font-extrabold text-center") SENA 
                span(class="font-normal") Restaurante
        
        // Navegaci贸n de Acceso y Sesi贸n
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
            if usuario
                span(class="text-white") Bienvenido, #{usuario.nombre}
                
                form(action="/auth/logout" method="POST" class="inline ml-3") 
                    input(type="hidden" name="_csrf" value= csrfToken) 
                    input(type="submit" class="bg-indigo-800 hover:bg-indigo-400 py-2 px-4 rounded-lg font-bold cursor-pointer" value="Cerrar Sesi贸n")
            else
                a(href="/auth/registro" class="hover:text-indigo-200") Crear Cuenta
                a(href="/auth/login" class="hover:text-indigo-200 ml-3") Iniciar Sesi贸n

// Segundo Nivel: Barra de Navegaci贸n Condicional (Men煤 Principal)
if usuario 
    div(class="bg-indigo-700 py-5 hidden lg:block")
        div(class="container mx-auto flex justify-between")
            nav(class="flex gap-6 items-center") 
                
                //  CORRECCIN CLAVE: Usamos .trim() para limpiar la cadena de espacios invisibles
                if usuario.rol && usuario.rol.trim() === 'admin'
                    // Men煤 para ADMINISTRADOR
                    a(href="/admin" class="text-sm font-bold uppercase text-white hover:text-indigo-200") Panel Principal
                    a(href="/admin/reservas" class="text-sm font-bold uppercase text-white hover:text-indigo-200") Gesti贸n de Reservas
                    a(href="/admin/mesas" class="text-sm font-bold uppercase text-white hover:text-indigo-200") Gesti贸n de Mesas
                    a(href="/admin/clientes" class="text-sm font-bold uppercase text-white hover:text-indigo-200") Gesti贸n de Clientes
                
                else 
                    // Men煤 para USUARIO ESTNDAR (Cliente)
                    a(href="/usuario/dashboard" class="text-sm font-bold uppercase text-white hover:text-indigo-200") Mi Panel
                    a(href="/usuario/reserva/crear" class="text-sm font-bold uppercase text-white hover:text-indigo-200") Reservar 
                    a(href="/usuario/mis-reservas" class="text-sm font-bold uppercase text-white hover:text-indigo-200") Mis Reservas