header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        a(href="/") 
            h1.text-2xl.text-white.font-extrabold.text-center SENA 
                span.font-normal Restaurante
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
            if usuario
                span.text-white Bienvenido, #{usuario.nombre}
                
                form(action="/auth/login" method="POST" class="inline")
                    input(type="hidden" name="_csrf" value= csrfToken) 
                    input(type="submit" class="bg-indigo-800 hover:bg-indigo-400 py-2 px-4 rounded-lg font-bold cursor-pointer" value="Cerrar Sesión")
            else
                a(href="/auth/registro" class="hover:text-indigo-200") Crear Cuenta
                a(href="/auth/login" class="hover:text-indigo-200") Iniciar Sesión

if usuario 
    div(class="bg-indigo-700 py-5 hidden lg:block")
        div(class="container mx-auto flex justify-between")
            nav(class="flex gap-6 items-center") 
                // Asumo que la ruta principal para un usuario logueado es el dashboard
                a(href="/" class="text-sm font-bold uppercase text-white hover:text-indigo-200") Panel Principal
                a(href="/admin/reservas" class="text-sm font-bold uppercase text-white hover:text-indigo-200") Gestión de Reservas
                a(href="/admin/mesas" class="text-sm font-bold uppercase text-white hover:text-indigo-200") Gestión de Mesas
                a(href="/admin/clientes" class="text-sm font-bold uppercase text-white hover:text-indigo-200") Gestión de Clientes