header(class="bg-red-800 p-4 shadow-lg")
    div(class="container mx-auto flex justify-between items-center")
        a(href="/")
            h1(class="text-3xl text-white font-extrabold tracking-tight") SENA 
                span(class="font-normal") Restaurante
        
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
            if usuario
                span(class="text-white text-base") Bienvenido, #{usuario.nombre}
                
                form(action="/auth/logout" method="POST" class="inline ml-3") 
                    input(type="hidden" name="_csrf" value= csrfToken) 
                    input(type="submit" class="bg-red-900 hover:bg-red-700 py-2 px-4 rounded-lg font-bold cursor-pointer transition-colors" value="Cerrar Sesión")
            else
                a(href="/auth/registro" class="hover:text-red-200 transition-colors") Crear Cuenta
                a(href="/auth/login" class="hover:text-red-200 ml-3 transition-colors") Iniciar Sesión

if usuario 
    div(class="bg-red-700 py-3 hidden lg:block shadow-inner")
        div(class="container mx-auto flex justify-between")
            nav(class="flex gap-6 items-center") 
                
                if usuario.rol && usuario.rol.trim() === 'admin'
                    a(href="/admin" class="text-sm font-bold uppercase text-white hover:text-red-200 transition-colors") Panel Principal
                    a(href="/admin/reservas" class="text-sm font-bold uppercase text-white hover:text-red-200 transition-colors") Gestión de Reservas
                    a(href="/admin/mesas" class="text-sm font-bold uppercase text-white hover:text-red-200 transition-colors") Gestión de Mesas
                    a(href="/admin/clientes" class="text-sm font-bold uppercase text-white hover:text-red-200 transition-colors") Gestión de Clientes
                
                else 
                    a(href="/usuario/dashboard" class="text-sm font-bold uppercase text-white hover:text-red-200 transition-colors") Mi Panel
                    a(href="/usuario/reserva/crear" class="text-sm font-bold uppercase text-white hover:text-red-200 transition-colors") Reservar 
                    a(href="/usuario/mis-reservas" class="text-sm font-bold uppercase text-white hover:text-red-200 transition-colors") Mis Reservas